#root {
    padding: 30px;
}

.list-title-container {
    margin-bottom: 20px;
}

.list-title {
    display: inline-block;
    margin: 0 10px 0 0;
}

.btn__add {
    margin: 0 10px;
}

.btn__action {
    margin: 0 5px;
}

.btn__action--last {
    margin: 0;
}

.label-detail {
    font-weight: bold;
    margin-right: 5px;
}


.reactable-page-button {
    margin-left: 5px;
    margin-right: 2px;
    margin-bottom: 6px;
    padding: 3px;
    width: 30px;
    float: left;
    cursor: pointer;
    color: #000;
    border: 1px solid #AAA;
    background-color: #EEE;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.reactable-page-button:hover {
    text-decoration: none;
    color: #333;
    background-color: #DDD;
}

.reactable-current-page {
    background-color: #DDD;
    text-decoration: none;
    cursor: default;
}

.table th {
    cursor: pointer;
}

.table th.reactable-header-sort-desc, .table th.reactable-header-sort-asc {
    background-color: #f6f6f6;
}

.table th.reactable-header-sort-desc:after {
    content: '\25B2';
    font-size: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.table th.reactable-header-sort-asc:after {
    content: '\25BC';
    font-size: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
}