.list-inner {
    padding: 0 20px 0 20px;
}

.list-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.paginate-wrapper {
    text-align: center;
}