
#map-toolbox {
	position: absolute;
	top: 50px;
	left: 0;
	bottom: 0;
	width: 20%;
	overflow-y: auto;
}

#map-container {
	position: absolute;
	top: 50px;
	left: 20%;
	right: 0;
	bottom: 0;
}

#map {
	width: 100%;
	height: 100%;
	/*height: 300px;*/
}

.map-legend .row {
	margin-top: 15px;
	margin-bottom: 15px;
}

.map-legend .row .map-legend-icon {
	padding-right: 5px;
	height: 30px;
}

.map-legend .row .bootstrap-switch {
	margin-top: 5px;
}

.item-wrapper .label {
	margin-right: 5px;
	margin-bottom: 15px;
	display: inline-block;
}